{% load staticfiles %}
<html>
    <head>
        <title>FGLite</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/fglite.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="">FGLite</a></h1>
        </div>

		{% for store in stores %}
		    <div>
		        <h1><a href="">{{ store.store_name }}</a></h1>
		        <ul class="store-details">
		        	<li>{{ store.store_type|linebreaksbr }}</li>
		        	<li>{{ store.store_hours|linebreaksbr }}</li>
		        	<li>{{ store.store_address|linebreaksbr }}</li>
		        	<li>{{ store.store_phone|linebreaksbr }}</li>
		        </ul>
		    </div>
		{% endfor %}
    </body>
</html>