{% extends 'shared/base.html' %}

{% block content %}
	<h1>{{ store.store_name }}</h1>
	<ul class="store-details">
		<li><strong>Type:</strong> {{ store.store_type|linebreaksbr }}</li>
		<li><strong>Hours:</strong> {{ store.store_hours|linebreaksbr }}</li>
		<li><strong>Address:</strong> {{ store.store_address|linebreaksbr }}</li>
		<li><strong>Phone:</strong> {{ store.store_phone|linebreaksbr }}</li>
		<li><strong>Menus:</strong> {{ store.menus|linebreaksbr }}</li>
	</ul>
	<a href="{% url 'store_list' %}">Back</a>
	{% if user.is_authenticated %}
		<a href="{% url 'store_edit' pk=store.pk %}">Edit</a>
		<a href="{% url 'menu_new' pk=store.pk %}">Add menu</a>
	{% endif %}
{% endblock %}